Brotli
certifi
chardet
click
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
plotly
requests
retrying
six
urllib3
Werkzeug
