Brotli
certifi
chardet
click
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
requests
retrying
six
urllib3
Werkzeug
keras
scikit-learn
pandas
Pillow
pybase64
numpy
regex
tensorflow
matplotlib
seaborn
cv2
ImageDataGenerator
tqdm 
os
shuffle
train_test_split
EfficientNetB0
EarlyStopping
ReduceLROnPlateau
TensorBoard
ModelCheckpoint
classification_report
confusion_matrix
ipywidgets
io
